body{
    background-image: url("7.1.jpg"); /* Set background image for the entire body */
    background-size: cover; /* Ensure background image covers the entire viewport */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-attachment: fixed;
}

.whole
{
    background-color: rgb(255, 255, 255);
    border-radius:30px;
}



#side
{
    float: inline-end;
    border-radius: 70px;
    padding-right: 20px;
    margin: 30px;

}

#logo
{
    float:center;
    width: 600px;
    height: 300px;
    padding-left: 100px;
    padding-right:20px;
   
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    
}

#leaves
{
    float: inline-end;
    width: 500px;
    height: 300px;
    padding-right: 30px;
    border-radius: 10px;


}


#image
{
   float:center;
    width: 700px;
    height: 400px;
    padding: 40px 90px 0px 100px;
    border-radius: 100px;
    border-left: 50px ;
}

#background-image {
    float: left;
    margin-right: 20px;
}

#cocoa{
    float:right;
    width: 500px;
    height: 400px;
    padding: 40px;
    margin: 20px;
    border-radius: 100px;
   
}

h1{
    clear: left;
    color:rgb(211, 82, 12);
    background-color:rgb(255, 255, 255);
    padding: 30px;
    padding-left: 600px;
    border-radius: 40px;
    box-shadow: grey;
    font-size: 70px;

}

#product-details
{
    float:center;
    background-color: rgb(227, 233, 233);
    border-radius: 20px;
    padding: 20px;
}

.para{
    float:inline-end;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    color: rgb(110, 110, 227);
}

.navbar{
    background-color: black;
    border-radius: 30px;
}

.navbar ul{
    overflow: auto;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
    color: red;
}

.search{
    float: right;
    color: white;
    padding: 12px 75px;
}

.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width:129px;
}

.image_text {
    display: flex; /* Use flexbox to arrange items */
    align-items: center; /* Align items vertically */
}

.para {
    flex: 1; /* Let text fill remaining space */
}

.img {
    margin-left: 20px; /* Add some space between text and picture */
}
